In [ ]:
###Start here#### 
genres_df = moviesWithGenres_df.drop(["title","genres","year","movieId"],axis=1)
genres_df.reset_index()
genres_df.head()

input_df = userMovies.drop(["title","genres","year","movieId"],axis=1)
input_df.head()
print(input_df.shape)

wg_matrix = pd.DataFrame(userInput).drop("title",axis=1)
display(wg_matrix)
print(wg_matrix.shape)
wg_matrix=wg_matrix.T
print(wg_matrix.shape)

(5, 20)

   rating
0     5.0
1     3.5
2     2.0
3     5.0
4     4.5

(5, 1)
(1, 5)

In [ ]:
### note you have to check the dimensions while multiplying matrices please keep that in mind and then use the dot product fuction in numpy

np.array(wg_matrix)
np.array(input_df)

User_profile = np.dot(wg_matrix,input_df)
print(User_profile)
print(User_profile.shape)

sum1 = np.sum(User_profile)
print(sum1)
normalised_array = np.divide(User_profile,sum1)
print(normalised_array)

[[13.5 10.   8.5 11.5  8.5  0.   6.5  5.   2.   2.   0.   0.   5.   0.
   0.   0.   0.   0.   0.   0. ]]
(1, 20)
72.5
[[0.1862069  0.13793103 0.11724138 0.15862069 0.11724138 0.
  0.08965517 0.06896552 0.02758621 0.02758621 0.         0.
  0.06896552 0.         0.         0.         0.         0.
  0.         0.        ]]

In [ ]:
#####start here######
recommendation_matrix = pd.DataFrame(genres_df["Adventure"]*normalised_array[0,0])
column_name = genres_df.columns
for i in range(1,20):
  temp = (genres_df[column_name[i]]*normalised_array[0,i])
  recommendation_matrix = recommendation_matrix.join(temp)

recommendation_matrix.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,0.186207,0.137931,0.117241,0.158621,0.117241,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.186207,0.000000,0.117241,0.000000,0.117241,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.158621,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.158621,0.000000,0.0,0.089655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.158621,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
###start here###

recommendation_matrix["sum"] = recommendation_matrix[column_name].sum(axis=1)
recommendation_matrix

,movieId,Adventure,title,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,...,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed),sum
0,1,0.186207,Toy Story,0.137931,0.117241,0.158621,0.117241,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.717241
1,2,0.186207,Jumanji,0.000000,0.117241,0.000000,0.117241,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.420690
2,3,0.000000,Grumpier Old Men,0.000000,0.000000,0.158621,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.158621
3,4,0.000000,Waiting to Exhale,0.000000,0.000000,0.158621,0.000000,0.0,0.089655,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.248276
4,5,0.000000,Father of the Bride Part II,0.000000,0.000000,0.158621,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.158621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34203,151697,0.000000,Grand Slam,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.027586
34204,151701,0.000000,Bloodmoney,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
34205,151703,0.000000,The Butterfly Circus,0.000000,0.000000,0.000000,0.000000,0.0,0.089655,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.089655
34206,151709,0.000000,Zero,0.000000,0.000000,0.000000,0.000000,0.0,0.089655,0.0,...,0.0,0.068966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.158621
34207,151711,0.000000,The 2000 Year Old Man,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [ ]:
new_mat = recommendation_matrix.sort_values(by=['sum'],ascending =False)
new_mat=new_mat.reset_index()
new_mat

print("The top 20 recommended movies are  \n")
for i in range(20):
  print(new_mat["title"][i])

The top 20 recommended movies are

Wonderful World of the Brothers Grimm, The
Twelve Tasks of Asterix, The (Les douze travaux d'Astérix)
The Lego Movie
TMNT (Teenage Mutant Ninja Turtles)
Atlantis: Milo's Return
Home
Space Jam
Robots
Revolutionary Girl Utena: Adolescence of Utena (a.k.a. Revolutionary Girl Utena the Movie) (Shoujo kakumei Utena: Adolescence mokushiroku)
Who Framed Roger Rabbit?
Chicken Little
Aqua Teen Hunger Force Colon Movie Film for Theaters
Free Birds
Meet the Robinsons
Wizards of Waverly Place: The Movie
Futurama: Bender's Game
Mars Needs Moms
Underdog
Super Mario Bros.
Shrek Forever After (a.k.a. Shrek: The Final Chapter)